# EditorConfig configuration for dracut
# http://EditorConfig.org

# If you update this file make sure to update .dir-locals.el and .vimrc too.

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file, utf-8 charset
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
switch_case_indent = true
function_next_line = false
binary_next_line   = true
space_redirects    = true

# Match config files, set indent to spaces with width of eight.
[*.{c,h}]
indent_style = space
indent_size = 8

# Match config files, set indent to spaces with width of four.
[*.sh]
indent_style = space
indent_size = 4
switch_case_indent = true
function_next_line = false
binary_next_line   = true
space_redirects    = true

# Match xml man pages, set indent to spaces with width of two.
[man/*.xml]
indent_style = space
indent_size = 2
