/Makefile.inc
/man/dracut.8
/man/dracut-catimages.8
/man/dracut.conf.5
/dracut.conf.d/*.conf
/man/dracut.cmdline.7
/dracut.html
/man/dracut.kernel.7
/man/dracut.bootup.7
/man/dracut.modules.7
/man/lsinitrd.1
/dracut.pc
/dracut-install
/test/*/test.log
/test/*/.testdir
test*.img
/.buildpath
/.project
/src/install/dracut-install
/*.rpm
/*.[0-9]
/modules.d/98dracut-systemd/*.service.8
/*.sign
*.o
/src/skipcpio/skipcpio
/src/util/util
/dracut-util
.idea/
