Philippe Seewer <philippe.seewer@bfh.ch> 	<philippe.seewer-omB+W0Dpw2o@public.gmane.org>
Seewer Philippe <philippe.seewer@bfh.ch> 	<philippe.seewer@bfh.ch>
Philippe Seewer <philippe.seewer@bfh.ch> 	<philippe.seewer@bfh.ch>
Victor Lowther <victor.lowther@gmail.com> 	<victor.lowther-Re5JQEeQqe8AvxtiuMwx3w@public.gmane.org>
Harald Hoyer <harald@profian.com> 		<harald-H+wXaHxf7aLQT0dZR+AlfA@public.gmane.org>
Harald Hoyer <harald@profian.com> 		<harald@eeepc.(none)>
Harald Hoyer <harald@profian.com> 		<harald@hoyer.xyz>
Harald Hoyer <harald@profian.com> 		<harald@redhat.com>
Mike Snitzer <snitzer@redhat.com> 		<msnitzer@redhat.com>
Amerigo Wang <amwang@redhat.com> 		<xiyou.wangcong@gmail.com>
Andrey Borzenkov <arvidjaar@gmail.com> 		<arvidjaar@mail.ru>
Dan Horák <dhorak@redhat.com> 			<dan@danny.cz>
John Reiser <jreiser@bitwagon.com> 		<jreiser@BitWagon.com>
Luca Berra <bluca@vodka.it> 			<bluca@comedia.it>
Dave Young <dyoung@redhat.com>	 		<dyoung@redhat.com>
Dave Young <dyoung@redhat.com>	 		<dave@redhat.com>
Frederick Grose <fgrose@sugarlabs.org> 		<fgrose@gmail.com>
Frederic Crozat <fcrozat@suse.com> 		<fcrozat@mandriva.com>
Shawn W Dunn <sfalken@opensuse.org> 		<sfalken@opensuse.org>
Kyle McMartin <kmcmarti@redhat.com>             <kyle@redhat.com>
Angelo "pallotron" Failla <pallotron@fb.com>     <pallotron@fb.com>
Yu Watanabe <watanabe.yu+github@gmail.com>
Martin Wilck <mwilck@suse.de>   <mwilck@suse.com>
Thomas Renninger <trenn@suse.com>   <trenn@suse.de>
Andrey Borzenkov <arvidjaar@gmail.com>
Cristian Rodríguez <crrodriguez@opensuse.org>
Daniel Drake <drake@endlessm.com> <dsd@laptop.org>
Fabian Vogt <fvogt@suse.com>
Hannes Reinecke <hare@suse.com>  <hare@suse.de>
Julian Wolf <juwolf@suse.com>  <juwolf@suse.de>
Lidong Zhong <lidong.zhong@suse.com> <lzhong@suse.com>
Nikoli <nikoli@gmx.us> <nikoli@lavabit.com>
Peter Robinson <pbrobinson@fedoraproject.org> <pbrobinson@gmail.com>
Xunlei Pang <xlpang@redhat.com> <xpang@redhat.com>
Daniel Molkentin <daniel.molkentin@suse.com> <dmolkentin@suse.com>
Thomas Blume <thomas.blume@suse.com> <Thomas.Blume@suse.com>
Brian C. Lane <bcl@redhat.com> <bcl@brianlane.com>
Tomasz Paweł Gajc <tpgxyz@gmail.com> <tpgxyz@gmail.com>
