# This file causes block devices with RAID (dmraid) signatures to
# automatically cause dmraid to be run.
# See udev(8) for syntax

SUBSYSTEM!="block", GOTO="dm_end"
ACTION!="add|change", GOTO="dm_end"

ENV{ID_FS_TYPE}=="linux_raid_member", GOTO="dm_end"

ENV{ID_FS_TYPE}=="*_raid_member", \
    TEST!="/tmp/.dmraid_scan-%k", \
    RUN+="/bin/sh -c '>/tmp/.dmraid_scan-%k; /bin/ln -fs /sbin/dmraid_scan /initqueue/dmraid_scan.sh'"

LABEL="dm_end"
