# /etc/dracut.conf.d/gentoo.conf
# Dracut config file customized for Gentoo Base System release 1

#
# Modules
#

# i18n
i18n_vars="/etc/conf.d/keymaps:KEYMAP,EXTENDED_KEYMAPS-EXT_KEYMAPS /etc/conf.d/consolefont:CONSOLEFONT-FONT,CONSOLETRANSLATION-FONT_MAP /etc/rc.conf:UNICODE"
