# /etc/dracut.conf.d/gentoo.conf
# dracut config file customized for Gentoo Base System release 2

udevdir=/lib/udev
ro_mnt=yes

#
# Modules
#

# i18n
i18n_vars="/etc/conf.d/keymaps:keymap-KEYMAP,extended_keymaps-EXT_KEYMAPS /etc/conf.d/consolefont:consolefont-FONT,consoletranslation-FONT_MAP /etc/rc.conf:unicode-UNICODE"
i18n_default_font="LatArCyrHeb-16"

omit_drivers+=" i2o_scsi "
