[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
Before=systemd-udevd.service
ConditionPathExists=/dev/hw_random

[Service]
ExecStart=/usr/sbin/rngd -f
