# hacky rules to try to activate lvm when we get new block devs...
#
# Copyright 2008, Red Hat, Inc.
# Jeremy Katz <katzj@redhat.com>


SUBSYSTEM!="block", GOTO="lvm_end"
ACTION!="add|change", GOTO="lvm_end"
KERNEL=="dm-[0-9]*", ACTION=="add", GOTO="lvm_end"
ENV{ID_FS_TYPE}!="LVM2_member", GOTO="lvm_end"

TEST!="/tmp/.lvm_change-%k", \
    RUN+="/sbin/initqueue --settled --onetime --unique /sbin/lvm_scan"

ACTION=="add", RUN+="/bin/sh -c '>/tmp/.lvm_scan-%k;'"
ACTION=="change", RUN+="/bin/sh -c '>/tmp/.lvm_change-%k;>/tmp/.lvm_scan-%k;'"

LABEL="lvm_end"
