ACTION!="add|change", GOTO="ccw_end"
SUBSYSTEM!="ccw", GOTO="ccw_end"
SYSFS{cutype}=="1731/01", RUN+="ccw_init"
SYSFS{cutype}=="1731/05", RUN+="ccw_init"
SYSFS{cutype}=="1731/06", RUN+="ccw_init"
SYSFS{cutype}=="3088/01", RUN+="ccw_init"
SYSFS{cutype}=="3088/08", RUN+="ccw_init"
SYSFS{cutype}=="3088/60", RUN+="ccw_init"
SYSFS{cutype}=="3088/61", RUN+="ccw_init"
SYSFS{cutype}=="3088/1E", RUN+="ccw_init"
SYSFS{cutype}=="3088/1F", RUN+="ccw_init"
LABEL="ccw_end"
