[Unit]
DefaultDependencies=no
Requires=nm-initrd.service
After=nm-initrd.service
Before=network-online.target
Before=dracut-initqueue.service
ConditionPathExists=/run/NetworkManager/initrd/neednet

[Service]
Type=oneshot
ExecStart=/usr/bin/nm-online -q -t 3600
RemainAfterExit=yes

[Install]
WantedBy=initrd.target
WantedBy=network-online.target
