#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Switch Root
Documentation=man:initrd-switch-root.service(8)
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
OnFailure=emergency.service
After=initrd-switch-root.target
AllowIsolate=yes

[Service]
Type=oneshot
EnvironmentFile=/run/initramfs/switch-root.conf
# we have to use "--force" here, otherwise systemd would umount /run
ExecStart=-/usr/bin/systemctl --no-block --force switch-root ${NEWROOT} ${NEWINIT}
ExecStopPost=-/bin/rm -f /run/initramfs/switch-root.conf
StandardInput=null
StandardOutput=null
StandardError=null
KillMode=none
