# This file causes block devices with Linux RAID (mdadm) signatures to
# automatically cause mdadm to be run.
# See udev(8) for syntax

SUBSYSTEM!="block", GOTO="raid_end"
ACTION!="add|change", GOTO="raid_end"
KERNEL=="md/*", GOTO="raid_end"

KERNEL=="md*", IMPORT{program}="vol_id --export $tempnode"
ENV{ID_FS_TYPE}=="linux_raid_member", RUN+="/sbin/mdadm -IR $root/%k"

LABEL="raid_end"
