# This file causes block devices with Linux RAID (mdadm) signatures to
# automatically cause mdadm to be run.
# See udev(8) for syntax

ACTION!="add|change", GOTO="md_inc_end"
SUBSYSTEM!="block", GOTO="md_inc_end"
ENV{ID_FS_TYPE}!="linux_raid_member|isw_raid_member", GOTO="md_inc_end"

ENV{DEVTYPE}!="partition", \
    RUN+="/sbin/partx -d --nr 1-1024 $env{DEVNAME}"

ENV{ID_FS_TYPE}=="isw_raid_member", ENV{rd_NO_MDIMSM}=="?*", GOTO="md_inc_end"

TEST=="/tmp/.mdraid_start-%k", GOTO="md_inc_end"
TEST=="/tmp/.mdraid_container-%k", GOTO="md_inc_end"

KERNEL!="md*", IMPORT{program}="/sbin/mdadm --examine --export $tempnode"

# UUID CHECK

LABEL="do_md_inc"

ENV{rd_MDADMCONF}=="?*", \
	RUN+="/sbin/initqueue --settled --onetime --unique /sbin/mdadm_auto", \
        RUN+="/bin/sh -c 'echo return 1 > /initqueue-finished/mdraid.sh'", \
        GOTO="md_inc_end"

RUN+="/sbin/mdadm -I --no-degraded $env{DEVNAME}"

ACTION=="change", \
	RUN+="/bin/sh -c '>/tmp/.mdraid_start-%k'" 

RUN+="/bin/sh -c 'echo return 1 > /initqueue-finished/mdraid.sh'"

LABEL="md_inc_end"

#
# Handle non-container raid arrays
#
ACTION=="add|change", \
	KERNEL=="md[0-9]*|md/*", \
	ENV{MD_LEVEL}!="container", \
	ENV{MD_CONTAINER}!="?*", \
	GOTO="do_raidstart"

GOTO="end_raidstart"

LABEL="do_raidstart"

TEST!="/tmp/.mdraid_start-%k", \
	RUN+="/sbin/initqueue --settled --onetime --unique /sbin/mdraid_start", \
        RUN+="/bin/sh -c 'echo return 1 > /initqueue-finished/mdraid.sh'"

ACTION=="change", \
	RUN+="/bin/sh -c '>/tmp/.mdraid_start-%k'"

LABEL="end_raidstart"

#
# Handle container raid arrays
#
ACTION=="add|change", \
	KERNEL=="md[0-9]*|md/*", \
	ENV{DEVTYPE}!="partition", \
	ENV{MD_LEVEL}=="container", \
	GOTO="do_container"

GOTO="end_container"

LABEL="do_container"

TEST!="/tmp/.mdcontainer_start-%k", \
	RUN+="/sbin/initqueue --settled --onetime --unique --name mdcontainer_start-%k /sbin/mdcontainer_start $env{DEVNAME}", \
        RUN+="/bin/sh -c 'echo return 1 > /initqueue-finished/mdraid.sh'"

ACTION=="change", \
	RUN+="/bin/sh -c '>/tmp/.mdcontainer_start-%k'"

LABEL="end_container"
