#  This file is part of dracut.
#

[Unit]
Description=Cleanup squashfs mounts when switch root
DefaultDependencies=no
Before=initrd-switch-root.service
After=initrd-switch-root.target
ConditionPathExists=/squash/root

[Service]
Type=oneshot
RemainAfterExit=no
StandardInput=null
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/squash/clear-squash.sh
