## The test container is created with https://github.com/dracutdevs/fedora-container

name: Fedora-31

on:
  push:
    branches:
      - 'master'
    tags:
      - '*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    #container: quay.io/haraldh/dracut-fedora:30
    timeout-minutes: 30
    strategy:
      matrix:
        test: [ "01", "02", "03", "04", "10", "11", "12", "13", "14", "15", "17", "20", "30", "31", "40", "50", "60" ]
      fail-fast: false
    steps:
      - name: "Checkout Repository"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: "TEST-${{ matrix.test }}"
        run: docker run --privileged -v $(pwd)/:/dracut quay.io/haraldh/dracut-fedora:31 /dracut/fedora-test-github.sh "TEST-${{ matrix.test }}" ${{ matrix.test }}
